button {
  margin: 0.8rem;
}

main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

main h1 {
  padding: 1rem;
  border: 2px dotted #8bd3dd;
}

main section {
  text-align: justify;
  padding: 1rem;
  background-color: #8bd3dd;
}
