@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-bg-color: #fef6e4;
  --secondary-bg-color: #f3d2c1;
  --tertiary-bg-color: #8bd3dd;
  --headline-color: #001858;
  --paragraph-color: #172c66;
  --button-bg-color: #f582ae;
  --text-color: #001858;
  --font-family: "Inter", monospace;
  --font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-bg-color);
  color: var(--paragraph-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-color);
}

button {
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: 300ms;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

button:active {
  transform: translateY(5px);
  box-shadow: none;
}

input,
textarea {
  background-color: var(--secondary-bg-color);
}


